*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

body{
    background:#ffffff;
    color:#111;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

/* NAVBAR */
nav{
    background:#fff;
    padding:20px 0;
    position:sticky;
    top:0;
    z-index:1000;
}


.nav-wrapper{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    list-style:none;
    display:flex;
    gap:30px;
}

nav ul li a{
    text-decoration:none;
    color:#333;
    font-weight:500;
}

.btn{
    padding:10px 20px;
    border-radius:30px;
    background:#1f5eff;
    color:#fff;
    text-decoration:none;
    font-size:14px;
}

.secondary-btn{
    padding:10px 20px;
    border-radius:30px;
    border:1px solid #1f5eff;
    color:#1f5eff;
    text-decoration:none;
}

/* HERO */
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width: 2000px;
    height: 600px;
    box-sizing: border-box;
    background-color: #f5f6f8;
    border-radius: 20px;
    padding: 60px;
    margin: 60px auto;


}

.hero-text{
    max-width:500px;
}

.hero-text h1{
    font-size:42px;
    margin-bottom:20px;
}

.hero-text p{
    color:#666;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    gap:15px;
}

.hero img{
    width:500px;
    box-shadow:0 10px 30px rgba(255, 255, 255, 0.05);
    margin:60px auto;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 20px;
}

/* STATS */
.stats{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#ffffff;
    padding:50px 60px;
    margin:60px auto;
    
}

.stat{
    text-align: center;
    flex:1;
    align-self: center;
    padding: 2px 20px;
    

}

.stat h2{
    font-size:32px;
    margin-bottom:8px;
    color:#000000;
}

.stat p{
    font-size:14px;
    color:#666;
    max-width: 600px;
    
}
/* SERVICES */
.services{
    padding:80px 0;
}

.section-title{
    margin-bottom:40px;
}

.service-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.service-card:hover{
    background:#1f5eff;
    color:#fff;
}
.service-card{
    background:#fff;
    padding:30px;
    border-radius:20px;
    justify-items: center;
    text-align: center;
 /* background:#1f5eff;
    color:#fff; */
    box-shadow:0 10px 30px rgba(0,0,0,0.05);
}

.service-card h3{
    margin-bottom:15px;
    justify-items: center;
}

/* PROJECTS */
.projects{
    padding:80px 0;
}

.project-card{
    background:#fff;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.05);
}

.project-card img{
    width:200px;
    margin-bottom:20px;
}

/* BLOG */
.blog{
    padding:80px 0;
}

.blog-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    
    
}

.blog-card{
    background:#fff;        
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.05);
}

.blog-card img{
    width:100%;
    border-radius:100px;
    margin-bottom:200px;
}

/* CONTACT */
.contact{
    padding:80px 0;
}

.contact-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

form input, form textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:10px;
    border:1px solid #ddd;
}

form button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:30px;
    background:#1f5eff;
    color:#fff;
}

/* FOOTER */
footer{
    background:#111;
    color:#fff;
    padding:40px 0;
    margin-top:60px;
}

footer p{
    text-align:center;
    font-size:14px;
}

/* RESPONSIVE */
@media(max-width:900px){
    .hero{
        flex-direction:column;
        text-align:center;
        gap:40px;
    }

    .stats{
        flex-direction:column;
        gap:30px;
    }

    .contact-wrapper{
        grid-template-columns:1fr;
    }
}